{
    # Optional: Email for Let's Encrypt notifications
    # email your-email@example.com
}

# Replace :80 with your actual domain name once you have one pointed at your server.
:80 {
    reverse_proxy app:3000

    encode zstd gzip
}
